body{
   background-color:  #FEFAEF !important;

}

.container {
   background-color:  #FEFAEF !important;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.quiz-card{
   width: 30rem;
   background-color: orange;
   border-radius: 8px;
   padding: 8px;

}

.question-footer{
   display: flex;
   justify-content: space-between;
   border-top: 1px solid rgba(0, 0, 0, 0.4) ;
   align-items: center;
   padding-top: 12px;

}

h5{
   padding: 8px;

}

.answerCard:hover{
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.1);

}

.bg-success, .bg-danger {
   color: white !important;

}

.width-100{
   width: 100%;

}

.text-center{
   text-align: center;

}

.finalText{
   font-size: 36px;
   font-weight: bold;

}

.card-img-top{
   max-height: 600px;
   padding-bottom: 8px

}

.button-row{
   display: flex;
   justify-content: center;
   margin-top: 24px;

}